#div{
    text-align: center ;
    background-color: rgb(126, 124, 124);
    color: aliceblue;
    margin: 90px;
    padding: 30px;
    width: 30%;
    position: relative;
    right: -400px;
    
} 



body{
    background-color: black;
    color: aliceblue;
}